#title {
    align-items: center;
}

#input Port Label {
    display: none;
}

#output Port Label {
    display: none;
    align-items: flex-end;
}

#connector {
    align-items: stretch;
    justify-content: space-around;
    background-color: rgba(245, 6, 6, 255);
}

#cap {
    background-color: rgba(247, 255, 0, 255);
}

#divider .vertical {
    overflow: hidden;
    visibility: hidden;
    display: none;
}

#output {
    align-items: center;
}
